
<form action="/change" class="form-control text-center container w-75 my-5 " method="post">
    <h1>Change <span class="text-warning ">Password..</span></h1>

    <input type="password" class="form-control  my-4 "  placeholder="Old Password" name="oldpassword">
    <input type="password" class="form-control  my-4 "  placeholder="New Password" name="newpassword">
    <button class="btn btn-success form-control">Update</button>
  </form>
