<nav class="navbar bg-transparent container mt-5 ">
    <div class="container-fluid">
      <a href="/" class="navbar-brand fs-4 text-decoration-none btn btn-info">X-mas</a>
      <form class="d-flex" role="search">
        <a href="/signup" class="text-decoration-none fs-4 text-black mx-5 btn btn-warning">Signup</a>
        <a href="/signin" class="text-decoration-none fs-4 text-black mx-5 btn btn-success">Signin</a>
      </form>
    </div>
  </nav>