<%-include("header") %>
<%-include("nav") %>
<form action="/reset" class="form-control text-center container w-25 my-5 " method="post">
    <h1>Reset <span class="text-warning ">Password..</span></h1>
    <input type="text" class="form-control my-4 "  placeholder="Username" name="username">
    <input type="password" class="form-control  my-4 "  placeholder="Old Password" name="oldpassword">
    <input type="password" class="form-control  my-4 "  placeholder="New Password" name="password">
    <button class="btn btn-success form-control">Update</button>
  </form>
  <%-include("footer") %>